<div id="news" class="section">                                 
    <div class="section-wrapper block content-1170 center-relative" style="padding: 10px 0px; z-index: 8;">                        

        <div class="page-title-holder">
            <p class="up-title-text">04</p>
            <h4 class="entry-title">Our fleets</h4>
            <p class="page-description">Our expertise is</p>                            
        </div>
        <div class="owl-carousel owl-carousel-process owl-theme owl-loaded owl-drag">
            
            
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1190px, 0px, 0px); transition: all 0s ease 0s; width: 3570px;"><div class="owl-item cloned" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/etios.jpg" style="background-image: url(&quot;https://www.tenride.com/images/etios.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Sedan (Etios)</a>
                    </h4>
                  <p>One way trip - Rs. 16 per km <br>Round trip - Rs. 11 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div><div class="owl-item cloned" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/indica.jpg" style="background-image: url(&quot;https://www.tenride.com/images/indica.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Suv (Innova)</a>
                    </h4>
               <p>One way trip - Rs. 24 per km <br>Round trip - Rs. 15 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div><div class="owl-item active" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/etios.jpg" style="background-image: url(&quot;https://www.tenride.com/images/etios.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Sedan (Etios)</a>
                    </h4>
                  <p>One way trip - Rs. 16 per km <br>Round trip - Rs. 11 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div><div class="owl-item active" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/indica.jpg" style="background-image: url(&quot;https://www.tenride.com/images/indica.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Suv (Innova)</a>
                    </h4>
               <p>One way trip - Rs. 24 per km <br>Round trip - Rs. 15 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div><div class="owl-item cloned" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/etios.jpg" style="background-image: url(&quot;https://www.tenride.com/images/etios.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Sedan (Etios)</a>
                    </h4>
                  <p>One way trip - Rs. 16 per km <br>Round trip - Rs. 11 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div><div class="owl-item cloned" style="width: 575px; margin-right: 20px;"><div class="item">
                    <div class="post-thumbnail">
                        <a href="#">
                            <div class="latest-posts-background-featured-image-holder" data-image="https://www.tenride.com/images/indica.jpg" style="background-image: url(&quot;https://www.tenride.com/images/indica.jpg&quot;);"></div>
                        </a>                                           
                    </div>
                    <div class="cat-links">
                        <!--<ul>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                        </ul>-->
                    </div>
                   <h4 class="entry-title">
                        <a href="#">Suv (Innova)</a>
                    </h4>
               <p>One way trip - Rs. 24 per km <br>Round trip - Rs. 15 per km </p>
                    <!--<span class="entry-date published">September 10, 2018</span>
                    <span class="by">by</span>
                    <span class="author-nickname">
                        <a href="#" title="Posts by John Smith" rel="author">John Smith</a>
                    </span>-->

            </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>                     
    </div>
</div> 