<div id="contact" class="section">                                 
    <div class="section-wrapper block content-1170 center-relative" style="z-index: 3;">                        

        <div class="page-title-holder">
            <p class="up-title-text">6</p>
            <h6 class="entry-title">CONTACT</h6>
            <p class="page-description">STAY IN TOUCH</p>                            
        </div>

        <div class="content-wrapper">

            <div class="one_fourth">
                <p>
                    We are always delighted to hear from you
                </p>
                <br>
                <p>
                   You are just one step away from reaching us. 
                </p>
            </div>

            <div class="one_fourth">
                <div class="info-code">
                    <p class="info-code-title">WEB</p>               
                    <p class="info-code-content">
                        <a href="https://cocobasic.com">www.tenride.com</a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">ADDRESS</p>               
                    <p class="info-code-content">
                        <a>
                           4i, 4th floor, mount chambers, <br>
Mount Road, Vasan Ave, Anna Salai,<br> Thousand Lights, Chennai - 600002 
                        </a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">PHONE</p>               
                    <p class="info-code-content">
                        <a href="tel:123456789">+919444571589</a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">HOURS</p>               
                    <p class="info-code-content">10:00 am to 6:00 pm</p>
                </div>
            </div>

            <div class="one_half last">
               
                 <form action="https://www.tenride.com/success.php" method="post">
                <div class="contact-form">
                    <p>
                        <input id="name" type="text" name="name" placeholder="NAME">
                    </p>
                    <p>
                        <input id="contact-email" type="email" name="email" placeholder="EMAIL">
                    </p>                                    
                    <p>
                        <input id="subject" type="text" name="phone" placeholder="Phone">
                    </p>
                    <p>
                        <textarea id="message" name="subject" placeholder="MESSAGE"></textarea>
                    </p>
                    <p class="contact-submit-holder">
                        <input type="submit" name="contact_index" value="contact">
                    </p>  
                </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>                        
    </div>
</div> 