<div id="about" class="section">                                 
    <div class="section-wrapper block content-1170 center-relative" style="z-index: 12;">                        

        <div class="page-title-holder">
            <p class="up-title-text">02</p>
            <h2 class="entry-title">ABOUT</h2>
            <p class="page-description">KNOW US</p>                            
        </div>

        <div class="content-wrapper">
            <p>
               <!-- <img src="images/about_image_01.jpg" alt="" />-->
            </p>
            <br>
            <h2 class="medium-text">
                Outstation cab booking service                            </h2>
            <br>

            <div class="one last">
                <p class="small-text">We are newly emerged startup with a focus of giving outstation cab service at an affordable rate. our main focus is to keep the riders happy and safe during the journey.</p>
                <p>We have 1000+ attached vehicle which is spread over the south India region. So 99% your booking will be confirmed with on-time pickup and drop.</p>
             </div>
        </div>                        
    </div>
</div> 