<div id="services" class="section">
    <div class="section-wrapper block content-1170 center-relative" style="z-index: 11;">

        <div class="page-title-holder">
            <p class="up-title-text">03</p>
            <h3 class="entry-title" style="color: #ffff;">why us</h3>
           <!-- <p class="page-description">This is our 6 step well researched logo design process</p>-->                            
        </div>

        <div class="content-wrapper">

            <div class="one_third">
                <div class="service-holder bottom-50">
                    <p class="service-num">I</p>
                    
                    <!--<img class="img-responsive" src="images/quote_image_03.jpg" alt="" />-->
                    <div class="service-txt">
                        <h3>Clean cars</h3>
                        <p>We maintain our cars regularly to keep in clean and comfortable for users</p>
                    </div>
                </div>
            </div>

            <div class="one_third">
                <div class="service-holder bottom-50">
                    <p class="service-num">II</p>
                   <!-- <img class="img-responsive" src="images/quote_image_03.jpg" alt="" />
                    -->
                    <div class="service-txt">
                        <h3>Trained drivers</h3>
                        <p>
                    We train our drivers before they are onboarding to our company. So they know how to make a safe and happy drive</p>
                    </div>
                </div>
            </div>

            <div class="one_third last">
                <div class="service-holder bottom-50">
                    <p class="service-num">III</p>
                   <!-- <img class="img-responsive" src="images/quote_image_03.jpg" alt="" />-->

                    <div class="service-txt">
                        <h3>Affordable price</h3>
                        <p>We provide very affordable price in the market for one way drop taxi</p>
                    </div>
                </div>
            </div>                            
            <div class="clear"></div>

          
            <div class="clear"></div>
        </div>                        
    </div>
</div> 