<div id="home" class="section no-page-title parallax" style="background-image: url('https://www.tenride.com/images/bg1.jpg');">                                 
    <div class="section-wrapper block content-1170 center-relative" style="z-index: 13;">                        
        
        <div class="content-wrapper head-height ">
           
        </div>
        <div class="start_head">
            <h1 class="head-title">
               Book outstation cabs                            </h1>
           <!-- <p class="by text-center">
                Choose from a range of categories and prices
            </p>-->
            <br>
        </div>       
        <div class="start_div">
                
        <form action="https://www.tenride.com/listing.php" method="get" id="first-form">
            <ul>
                <li class="active">
                    <label>
                        <input type="radio" name="options" value="oneway" checked="">
                        <span>One Way</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="options" value="twoway">
                        <span>Two Way</span>
                    </label>
                </li>
            </ul>
            <h6>Check the fare of your ride</h6>
           <!-- <p class="start_p">Drop your contact details, we will get back to you immediately</p>-->
            <img style="position: absolute;z-index:-1" src="https://www.tenride.com/images/dots.png" alt="Dots">
                <div>
                    <input class="form-input placeGet pac-target-input" type="text" name="from" placeholder="From Address" value="" required="" autocomplete="off">
                </div>
                <div>
                    <input class="form-input placeGet pac-target-input" type="text" name="to" placeholder="To Address" value="" required="" autocomplete="off">
                </div>
                <div>
                    <input class="form-input border-black" type="number" name="phone" placeholder="Phone" required="">
                </div>
                <div>
                    <input class="submit_button" type="submit" name="submit" value="Submit">
                </div>
                
            </form>

        </div>

    </div>                
</div> 