<div id="pricing" class="section">                                 
    <div class="section-wrapper block content-1170 center-relative" style="height: 600px; z-index: 4;">                        

        <div class="page-title-holder">
            <p class="up-title-text">05</p>
            <h5 class="entry-title" style="color: #ffff;">PRICING</h5>
            <p class="page-description">CHOOSE PACKAGE</p>                            
        </div>

        <div class="content-wrapper">

            <div class="one_half">
                <div class="pricing-table">                                
                    <div class="pricing-table-header">
                        <div class="pricing-table-title">One way</div>                                                
                    </div>
                    <div class="pricing-wrapper">                                       
                        <div class="pricing-table-price"></div>
                        <div class="pricing-table-desc"></div>
                        <div class="pricing-table-content-holder">  
                            <ul>
                                <li class="pricing-list included-yes">
                                    <span class="fa fa-check"></span>
                                  Rs 14 <br> Sedan <br>(Toyata Etios, Swift tour, Hyundai Xcent)
                                </li>
                                <li class="pricing-list included-yes">
                                    <span class="fa fa-check"></span>
                                   Rs 20<br> SUV<br> (Innova, Xylo, Ertiga) <br>                                                    
                                </li>
                                <!--<li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Turn around days: 2
                                </li>
                                <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Full copyright transfer
                                </li>
                                    <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    3D Mockup
                                </li>
                                    <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                   Post-sales support
                                </li>
                                  <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Dedicated project manager.
                                </li>
                                
                                
                                <li class="pricing-list">
                                    <span class="fa fa-times"></span>
                                    visiting card design
                                </li>
                                  <li class="pricing-list">
                                    <span class="fa fa-times"></span>
                                    letterhead design
                                </li>
                                <li class="pricing-list">
                                    <span class="fa fa-times"></span>
                                    company Brochure
                                </li>
                                
                                 <li class="pricing-list">
                                    <span class="fa fa-times"></span>
                                    Email templates
                                </li>
                                
                                <li class="pricing-list">
                                    <span class="fa fa-times"></span>
                                    1-year festival Greeting designs
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#first-form" class="button">Enquiry</a>
                    </div>
                </div>
            </div>

            <div class="one_half last">
                <div class="pricing-table">                                
                    <div class="pricing-table-header">
                        <div class="pricing-table-title">Round way</div>                                                
                    </div>
                    <div class="pricing-wrapper">                                       
                        <div class="pricing-table-price"></div>
                        <div class="pricing-table-desc"></div>
                        <div class="pricing-table-content-holder">  
                            <ul>
                                <li class="pricing-list included-yes">
                                    <span class="fa fa-check"></span>
                                  Rs 11 <br> Sedan <br>(Toyata Etios, Swift tour, Hyundai Xcent)
                                </li>
                                <li class="pricing-list included-yes">
                                    <span class="fa fa-check"></span>
                                   Rs 15<br> Suv<br> (Innova, Xylo, Ertiga) <br>
                                    
                                    
                                </li>
                               <!-- <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Turn around days: 2
                                </li>
                                <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Full copyright transfer
                                </li>
                                    <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    3D Mockup
                                </li>
                                    <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                   Post sales support
                                </li>
                                  <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Dedicated project manager.
                                </li>
                                
                                
                                <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    visting card design
                                </li>
                                  <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    letter head design
                                </li>
                                <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    company Brochure
                                </li>
                                
                                 <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    Email templates
                                </li>
                                
                                <li class="pricing-list">
                                    <span class="fa fa-check"></span>
                                    1 year festival Greeting designs
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#first-form" class="button">Enquiry</a>
                    </div>
                </div>
            </div>
            
            <!--<div class="clear">
                <h3 class="text-white" >Tariff details</h3>
                <p class="text-white" >asdfsadfsadf</p>
            </div>-->
        </div>                        
    </div>
</div> 